.header {
  display: flex;
  align-items: center;
  background-image: url("../../../../assets/banner.jpg");
}

.header a{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo{
  max-height: 32px;
}

.header .title-group{
  padding-left: 25px;
}

.header .title-group i{
  padding-right: 5px;
  cursor: pointer;
}

mat-toolbar {
  height: 64px;
  position: fixed;
  z-index: 100;
  width: 100%  !important;
}


.toolbar {

  background-image: url("../../../../assets/banner.jpg");

}
 .toolbar span {
   padding-left: 50px;
   font-size: x-large;
 }

 .button {
  position: fixed;
  background-color: darkslateblue;
  border-radius: 5px;
  color: white;
  padding: 5px;
  width: 10%;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
}

