<div class="row mt-3 border-faded bg-white">
  <div class="offset-sm-3 col-12 col-sm-6">
    <div class="row pt-2 pr-2 pl-2">
      <div class="col-sm-12 col-md-6 col-xl-4">
        <h1 class="subheader-title title">
          <span class="ml-1" i18n>Contact List</span>
        </h1>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-5 d-none d-sm-block">
        <p i18n>Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main entrees and five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person </p>
      </div>
      <div class="col-sm-12 col-md-12 col-xl-3 d-none d-sm-block">
        <div class="row float">
          <div class="col-sm-12 col-md-12">
            <div class="float-right">
              <button class="md-button1" mat-raised-button color="primary" (click)="navigateToCreateContact()">
                <span i18n>Create Contact</span>
              </button>
            </div>
          </div>
          <div class="col-sm-12 col-md-12">
            <div class="float-right">
              <button class="md-button1 mt-3" mat-raised-button color="primary" (click)="navigateToCreateReservation()">
                <span i18n>Create Reservation</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="offset-sm-3 col-12 col-sm-6">
      <div class="border-faded bg-white bg-faded position-relative mat-elevation-z8">
          <custom-table [showEditIcon]="true" [showDeleteIcon]="true" [columnsDefinition]="columns" [routerLinkString]="routerLinkString"
          [usePaginator]="true"  [itemSource]="contactPager.Items" [totalRows]="contactPager.Count"
          (pageChanged)="searchPager($event)" [isLoading]="isLoading" (deleteExecuted)="daleteContact($event)"></custom-table>
      </div>
  </div>
</div>
