/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-crud{
    display: flex;
    flex-direction: column;
}

.msg-error {
    background-color:rgb(188, 0, 0);
    color: white;
    white-space: pre-wrap;
}

.msg-success{
    background-color: green;
    color: #ffffff;
}

.custom-mat-card-title{
    margin-top: 25px;
    margin-bottom: 30px;
}

.mat-typography .full-height {
    max-height: 80vh !important;
    height: 80vh !important;
}

.mat-typography .full-height-wa {
    max-height: 86vh !important;
    height: 86vh !important;
}

.mat-dialog-actions {
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.full-width {
    width: 100% !important;
}

.mb-g {
    margin-bottom: 1.5rem !important; }

.mb-gb {
    margin-bottom: 3rem; }

.mr-2 {
    margin-right: .5rem!important;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

.example-spacer {
    flex: 1 1 auto;
}

.select-mat-form-field {
  width: 100%;
}

.link {
  margin-top: 0%;
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  line-height: 1.4;
  margin: 0px;
}

a {
  outline: none;
  text-decoration: none;
  font-size: small;
}

a:link {
  color: #ffffff;
}

a:visited {
  color:  #ffffff;
}

a:focus {
  border-bottom: 1px solid;
  color:  #ffffff;
}

a:hover {
  border-bottom: 1px solid;
  color:  #ffffff;
}

a:active {
  color:  #ffffff;
  color: #CDFEAA;
}

.md-button1 {
  height: 35px;
  min-width: 160px;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(159, 159, 159);
}

.md-button2 {
  height: 35px;
  min-width: 88px;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(188, 0, 0);
}
.md-button3 {
  height: 35px;
  min-width: 30px;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  background-color: rgb(159, 159, 159);
}


