/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-crud{
    display: flex;
    flex-direction: column;
}

.msg-error {
    background-color: red;
    color: white;
    white-space: pre-wrap;
}

.msg-error button {
    background-color:orangered;
    color: white;
}

.msg-success{
    background-color: green;
    color: #ffffff;
}

.custom-mat-card-title{
    margin-top: 25px;
    margin-bottom: 30px;
}

.mat-typography .full-height {
    max-height: 80vh !important;
    height: 80vh !important;
}

.mat-typography .full-height-wa {
    max-height: 86vh !important;
    height: 86vh !important;
}

.mat-dialog-actions {
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.full-width {
    width: 100% !important;
}

.mb-g {
    margin-bottom: 1.5rem !important; }

.mb-gb {
    margin-bottom: 3rem; }

.mr-2 {
    margin-right: .5rem!important;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

.example-spacer {
    flex: 1 1 auto;
}

.select-mat-form-field {
  width: 100%;
}

